.botao {
    background-color: #6b5acd;
    border-radius: 16px;
    font-weight: 700;
    font-size: 28px;
    padding: 16px 24px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 32px 0;
}

.divBotao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.com-sombra {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

/* .botao:hover {
    perguntar se deve ter isso
} */